@font-face {
    font-family: 'Eight Bit Dragon';
    src: url(./fonts/EightBitDragon.ttf);
}

@font-face {
    font-family: 'Super Legend Boy';
    src: url(./fonts/SuperLegendBoy.ttf);
}

body {
    background-color: #e899ce;
    color: black;
    font-family: 'Eight Bit Dragon';
}

#container {
    height: 60%;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -35%;
}

#container h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
}

#container p {
    margin-top: 3px;
    margin-bottom: 30px;
    text-align: center;
}
  
#container ul {
    padding: 0;
}

#container ul li {
    list-style-type: none;
    text-align: center;
    font-size: 25px;
}

#container ul li a {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
    display: list-item;
    padding-top: 13px;
    padding-bottom: 13px;
}

#container ul li a:hover {
    color: white;
}

#bone {
    margin-right: 7px;
}

/*
 * Only display skull image if screen is wider than 500px
 * to prevent weird text wrapping with the image 
 */
#skull {
    display: none;
}

@media only screen and (min-width: 500px){
    #skull {
        display: inline;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 600px){
    #container {
        height: 500px;
        width: 500px;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -250px;
        margin-top: -250px;
    }

    #container ul li {
        text-align: right;
        font-size: 20px;
    }
    
    #container ul li a {
        transition-duration: 0s;
        padding: 10px 0px 10px 0px;
    }
}
